/*#local_video{width:2.083333333in;}
#local_video{height:auto;}[class~=container]{height:310.25pc;}[class~=container]{margin-left:2.5pt;}
#local_video{background-color:white;}*{margin-left:0;}*{margin-bottom:0;}[class~=container]{margin-bottom:0px;}
#local_video{position:absolute;}[class~=container]{margin-right:2.5pt;}
#local_video{top:7.5pt;}[class~=container]{margin-top:20px;}[class~=container]{position:relative;}*{margin-right:0;}*{margin-top:0;}*{padding-left:0;}[class~=video_elements],
#remote_video{height:100%;}*{padding-bottom:0;}
#local_video{left:7.5pt;}*{padding-right:0;}
#local_video,
#remote_video{border-radius:0px;}.video_controls{position:absolute;}*{padding-top:0;}*{box-sizing:border-box;}
#local_video{transform:rotateY(180deg);}
#remote_video,.video_controls{width:50%;}.video_controls{bottom:1.875pc;}.video_controls{display:flex;}.video_controls{justify-content:center;}.video_controls{column-gap:2.5pt;}
#remote_video{background-color:black;}body{background:white;}
*/



#local_video{
        top: 10px;
  		left: 10px;
      }      


#remote_video{

		background-color: #ffc;
  		margin: 10px 0px 0px 0px;
      }      



